<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelopia</title>
    <link rel="StyleSheet" href="style.css"/>
</head>
<body>
   <section class="container">
     <div id="nav">
        <nav id="title">
          <h3 id="logo">Travelopia</h3>
        </nav>
        <nav class="nav1"><a id="icon" href="">
          <ul id="nav2">
        <li id="list"><a class="anchor" href="../index.html" target="_blank">Home</a></li>
        <li id="list"><a class="anchor" href="../components/TravelOpia.html" target="_blank">About Us</a></li>
        <li id="list"><a class="anchor" href="./Ourbrands.html">Our Brands</a></li>   
        <li id="list"><a class="anchor" href="./Sustainability.html" target="_blank">Sustainability</a></li>
        <li id="list"><a class="anchor" href="" target="_blank">Work with us</a></li>
        </ul>
        </nav>
     </div>
     </section>
     <div id="header">
      <h1>MEET OUR AMAZING BRANDS</h1>
     </div>
     
     <div class="image" >
      <img src="../images/travelopia-logo.jpg" id="img1">
   </div>
   

   <script>
    window.addEventListener('scroll', function() {
      var container = document.getElementById('nav');
      const logo = document.getElementById('logo');
      const anchor = document.getElementsByClassName('anchor');
      console.log(anchor);
      var scrollPosition = window.scrollY;
      var triggerPosition = 644;
      if (scrollPosition >= triggerPosition) {
        container.style.backgroundColor = "white";
        logo.style.color = "black";
        for (let i = 0; i < anchor.length; i++) {
          anchor[i].style.color = "black";
        }
      }
      else{
        nav.style.backgroundColor = 'transparent';
        logo.style.color = "white";
        for (let i = 0; i < anchor.length; i++) {
          anchor[i].style.color = "white";
        }
      }
    }
  );
   </script>
   
<section class="container1">
  <div class="para">
    <h1>Polar</h1>
    <img src="../images/Image2.webp"/>
  </div>
 <div class="p"> 
   <h2>Quark Expeditions</h2>
   <p>Specialising in expeditions to Antarctica and the Arctic, Quark Expeditions has been the leading provider of polar adventure travel for three decades. With a diverse fleet of expedition vessels and icebreakers, we offer travellers access to the most remote places on Earth.</p>
   <a href="https://www.travelopia.com/our-brands/polar/" id="a1">Read More →</a>
  </div>
</section>

<section class="container2">
  <div class="para1">
    <h1>Private Jet</h1>
    <img src="../images/Image3.webp"/>
  </div>
  <div class="p1"> 
   <h2>TCS World Travel</h2>
    <p>TCS World Travel have been enriching lives through our all-inclusive jet expeditions and custom itineraries for almost 30 years. We are the world’s most awarded private jet expedition company. Our all-inclusive journeys deliver unparalleled and meaningful experiences, with exceptional service in unique destinations around the globe. We are also the private jet tour operator for distinguished organisations like Four Seasons Hotels & Resorts and Smithsonian Journeys.</p>
    <a href="https://www.travelopia.com/our-brands/jet/" id="a1">Read More →</a>
  </div>
</section>

<section class="container3">
  <div class="para2">
    <h1>Golf Tours</h1>
    <img src="../images/Image4.webp"/>
  </div>
  <div class="p2"> 
   <h2>Kalos Golf</h2>
    <p>Kalos Golf is a luxury golf tour provider with itineraries that span the globe, touching every continent save Antarctica. With over 30 years of experience hosting a select number of invited guests each year by land, sea, and air, we offer uniquely designed golf experiences with play on some of the world’s best courses and private hidden gems, paired with unique touring and personal five-star service.</p>
    <a href="https://www.travelopia.com/our-brands/golf-tours/" id="a1">Read More →</a>
  </div>
</section>

<section class="container4">
  <div class="para3">
    <h1>Marine & Waterways</h1>
    <img src="../images/Image5.webp"/>
  </div>
  <div class="p3"> 
   <h2>Sunsail, The Moorings & Leopard Catamarans</h2>
    <p>Our industry-leading fleet and charter options are designed to deliver top performance, comfort and fun for sailors and non-sailors alike. Whether you choose to be your own skipper, hire our professional crew, or book an all-inclusive charter complete with captain and chef, we give our distinguished charter guests more ways to make their sailing holiday unique.</p>
    <a href="https://www.travelopia.com/our-brands/marine-yachts-division/" id="a1">Read More →</a>
  </div>
</section>

<section class="container5">
  <div class="para4">
    <img src="../images/Image6.webp"/>
  </div>
  <div class="p4"> 
   <h2>Le Boat</h2>
    <p>Our holidays allow families and friends to reconnect with each other while exploring new places from a completely new perspective – the beautiful rivers, lakes and canals of Europe and Canada. Our boats empower their crews with the freedom to go at their own pace – be it a relaxing meander or an action-packed adventure. With over 50 years of expertise, we make boating holidays easy for everyone.</p>
    <a href="https://www.travelopia.com/our-brands/marine-le-boat/" id="a1">Read More →</a>
  </div>
</section>

<section class="container6">
  <div class="para5">
    <h1>Adventure</h1>
    <img src="../images/Image7.webp"/>
  </div>
  <div class="p5"> 
   <h2>Exodus Adventure Travels, Sawadee & Headwater</h2>
    <p>We believe we can improve life through travel. Our collection of life-enriching and horizon-expanding adventures delve into the heart of each destination, so you can explore like a local. From cycling across rice paddy fields in Cambodia, locking eyes with a mountain gorilla cradling her young in Uganda, or walking and tasting the delights of the Amalfi coast, our trips create an incredible sense of wonder and memories that last a lifetime.</p>
    <a href="https://www.travelopia.com/our-brands/adventure/" id="a1">Read More →</a>
  </div>
</section>

<section class="container7">
  <div class="para6">
    <h1>Tailor-made Travel</h1>
    <img src="../images/Image8.webp"/>
  </div>
  <div class="p6"> 
   <h2>Enchanting Travels, MyPlanet, Hayes & Jarvis</h2>
    <p>When discerning travellers want to have the trip of a lifetime, our experts provide personalized, exceptional experiences that allow guests to feel a sense of wonder. By delivering expertise and genuine care from team members around the world, we are able to precisely tailor your vision into a trip that our guests will never forget. We specialize in complex, multi-centre journeys with 24/7 support so travellers can explore our 70+ destinations safely and seamlessly.</p>
    <a href="https://www.travelopia.com/our-brands/tailormade-et/" id="a1">Read More →</a>
  </div>
</section>

<section class="container8">
  <div class="para7">
    <img src="../images/Image9.webp"/>
  </div>
  <div class="p7"> 
   <h2>Citalia, Sovereign Luxury Travel & American Holidays</h2>
    <p>When it comes to tailor-made travel, our collection of brands delve deep into destinations and select the best hotels, to give travellers a once-in-a-lifetime experience. Whether it’s Citalia’s expertise in creating authentic Italian holidays, Sovereign Luxury Travel’s opulent beach escapes or American Holidays knowledge of all things North America, these brands offer both new and returning guests, luxury escapes that impress even the most experienced of travellers.</p>
    <a href="https://www.travelopia.com/our-brands/tailormade-uk-ireland/" id="a1">Read More →</a>
  </div>
</section>

<section class="container9">
  <div class="para8">
    <img src="../images/Image10.webp"/>
  </div>
  <div class="p8"> 
   <h2>Europe Express & YMT Vacations</h2>
    <p>We are the US Tour Operator (USTO) division of Travelopia. Comprised of sister brands Europe Express and YMT Vacations, our experts offer decades of experience in custom independent and group travel for North American travellers throughout Europe and other popular destinations around the world.</p>
    <a href="https://www.travelopia.com/our-brands/tailormade-usto/" id="a1">Read More →</a>
  </div>
</section>

<section class="container10">
  <div class="para9">
    <h1>Education</h1>
    <img src="../images/Image11.webp"/>
  </div>
  <div class="p9"> 
   <h2>Experience Education</h2>
    <p>Experience Education brings specialist educational travel organisations together, to create the most extraordinary range of experiences for schools, colleges and universities. Our expert group of specialist operators work within five unique categories across the school travel sector: Curriculum, Expeditions, Ski, Sports and Activity Centres.</p>
    <a href="https://www.travelopia.com/our-brands/education/" id="a1">Read More →</a>
  </div>
</section>

<section class="container11">
  <div class="para10">
    <h1>Events</h1>
    <img src="../images/Image12.webp"/>
  </div>
  <div class="p10"> 
   <h2>Gullivers Sports Travel, Howzat Travel & Events International</h2>
    <p>The Travelopia Events Division provides supporters trips to major worldwide sporting events along with premium VIP corporate and event hospitality. Events include all major rugby, cricket, Formula 1, horse racing and tennis events, along with a variety of others sports, concerts and even horticulture!</p>
    <a href="https://www.travelopia.com/our-brands/events/" id="a1">Read More →</a>
  </div>
</section>

<section class="container12">
  <h1>Our Group Function Teams</h1>
  <div class="para11">
    <p>Our incredible brand teams are supported by centralised Group Functions in Technology, HR, Finance, Legal, Health & Safety, M&A and Data & Analytics. Our headquarters are in the UK, but we have team members in various locations across the world.</p>
    <img src="../images/Image13.webp"/>
  </div>

  <div class="para12">
    <p>Some roles are embedded in specific brands but most work across our entire portfolio to deliver global programmes of work, such as high-performance people initiatives, sales capability training, and technology rollouts.</p>
    <img src="../images/Image14.webp" id="img14"/>
    <img src="../images/Image15.webp"/>
  </div>
  <button id="btn">Read more</button>
</section>

<section class="container13">
  <div class="para13">
    <img src="../images/Image16.webp"/>
  </div>
  <div class="p13">
    <h2>Work with us</h2>
    <p>Travelopia brings together over 2000 colleagues from around the world, who work together to create industry-leading travel experiences. Join us on our journey forward.</p>
    <button id="btn1">View Global Vacancies</button>
  </div>
</section>

<footer class="footer">
  <div class="footer_row">
    <div id="adress">
      <h1 id="foot_h1">Travelopia</h1>
      <p id="foot_p">Origin One, 108 High Street,<br/>
        Crawley, West Sussex, RH10 1BD<br/>
        United Kingdom</p>
    </div>
    <nav id="foot1">
      <ul class="footer_ul">
        <li id="foo"><a id="foot_li" href="https://www.travelopia.com/about-us/" target="_blank">About Us</a></li>
        <li id="foo"><a id="foot_li" href="https://www.travelopia.com/our-brands/" target="_blank">Our Brands</a></li>
        <li id="foo"><a id="foot_li" href="https://www.travelopia.com/sustainability/" target="_blank">Sustainability</a></li>
        <li id="foo"><a id="foot_li" href="https://www.travelopia.com/leadership/" target="_blank">Leadership</a></li>
        <li id="foo"><a id="foot_li" href="https://www.travelopia.com/our-brands/travelopia-group-functions/" target="_blank">Travelopia Group Foundation</a></li>
        <li id="foo"><a id="foot_li" href="https://www.travelopia.com/reports/" target="_blank">Reports</a></li>
      </ul>

      <ul class="footer_ul1">
        <li id="foo"><a  id="foot_li"href="https://www.travelopia.com/" target="_blank">Contact Us</a></li>
        <li id="foo"><a  id="foot_li"href="https://www.travelopia.com/work-with-us/" target="_blank">Work With Us</a></li>
        <li id="foo"><a  id="foot_li"href="https://www.travelopia.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
        <li id="foo"><a  id="foot_li"href="https://www.travelopia.com/cookies-policy/" target="_blank">Cookie Policy</a></li>
      </ul>
    </nav>
    </div>
    </footer>
    <p id="last">Travelopia Holdings Limited is a registered company in England (Company No 5934241).<br/>
      Registered Office: Origin One, 108 High Street, Crawley, West Sussex RH10 1BD</p>
  
      <p id="cr">Copyright © Travelopia 2024</p>
</body>
</html>