<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sustainability-Travelopia</title>
    <link rel="stylesheet" href="sub.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div id="navbar">
          <a id="logo1">Travelopia</a>
          <div id="div1">
            <a class="lis" href="../index.html">Home</a>
            <a class="lis" href="./TravelOpia.html">About Us</a>
            <a class="lis" href="Ourbrands.html">Our Brands</a>
            <a class="lis" href="Sustainability.html">Sustainability</a>
            <a class="lis" href="">Work with us</a>
          </div>
        </div>
        <div id="trvlogo">
          <img
            src="../images/travelopialogo.jpg"
            alt="Centered Image"
            id="log"
          />
        </div>
      </header>

      <div class="text">ENRICHING LIFE FOR PEOPLE,PLACES AND PLANET</div>
    </div>

    <div id="div2">
      <p>
        At Travelopia we are driven by travel’s potential for good; our diverse
        portfolio of travel businesses are unified in their common purpose<br />

        “To enrich lives through inspiring travel experiences”, for not only our
        guests but also for the people and places we visit.<br />
        <br />
        We recognise the urgent nature of the climate crisis and that aspects of
        tourism are currently too carbon-intensive. We seek to work<br />

        alongside our suppliers and partners in de-carbonising the sector in
        line with the Intergovernmental Panel on Climate Change’s (IPCC) global
        goals.<br />
        <br />
        Our Climate, Nature & Community sustainability plan drives us to measure
        and reduce the carbon impact of our offices and operations,<br />

        reduce waste, support the restoration of nature and bring further
        benefit to our destination communities.<br />
        <br />
        We are also proud to partner with Blue Marine Foundation to support the
        conservation and restoration of ocean habitats globally<br />.<a
          href="https://www.travelopia.com/climate-nature-partnership/"
          id="visit"
        >
          Read more about this here.
        </a>
        <br />
        <br />
        Beyond our group-wide activity, each of our brands pursues its own
        specific sustainability goals; read more about the aims and activity<br />
        of three of our brands below.<br />
      </p>
    </div>
    <div class="travel">
      <div id="im1">
        <img
          src="../images/img2.webp"
          alt="Image 1"
          height="300px"
          width="400px"
        />
        <b>PEOPLE</b> <br />Enchanting Travels <br /><b>COMMUNITY IMPACT</b
        ><br /><br />
        At the heart of Enchanting Travels’<br />
        sustainable practices is empowering local<br />
        communities. From internship<br />
        programmes to supporting local<br />
        businesses, Enchanting Travels were<br />
        awarded the Travelife partner certification <br />for their outstanding
        contribution to <br />communities across the globe.<br /><br /><br />
        <a
          href="https://www.travelopia.com/sustainability/enchanting-travels-case-study/"
          id="visit1"
          >Read more</a
        >
      </div>
      <div id="im2">
        <img
          src="../images/img3.webp"
          alt="Image2"
          height="300px"
          width="400px"
        />
        <b>PLACES</b><br />
        Quark Expeditions<br />
        <b>POLAR PROMISE</b> <br /><br />By reducing their carbon emissions,<br />
        supporting scientists and researchers, and<br />
        supporting key polar environmental <br />research programmes through
        their ‘Polar <br />Promise’, Quark Expeditions is committed<br />
        to preserving the pristine Polar Regions<br />
        for future generations to come.<br />
        <br /><br />
        <a
          href="https://www.travelopia.com/sustainability/quark-case-study/"
          id="visit2"
        >
          Read more</a
        >
      </div>
      <div id="im3">
        <img
          src="../images/img4.webp"
          alt="Image 3"
          height="300px"
          width="400px"
        />
        <b>PLANET</b><br />
        Exodus Adventure Travels<br />
        <b> NATURE FIRST</b> <br /><br />Exodus Adventure Travels aim to
        reduce<br />
        the carbon impact across their global<br />
        offices and trips and is commited to help <br />restore biodiversity
        through rewilding<br />
        landscapes. These are key components of<br />
        its People, Places & Planet plan. <br /><br /><br /><a
          href="https://www.travelopia.com/sustainability/exodus-case-study/"
          id="visit3"
          >Read more</a
        >
      </div>
    </div>
    <div id="tlogo">
      <div id="content">
        <img
          src="../images/travelopia_logo.png"
          height="70px"
          width="250px"
        /><br />
        Origin One, 108 High Street,<br />
        Crawley, West Sussex, RH10 1BD <br />United Kingdom
      </div>

      <div class="items">
        <div id="list">
          <li>About Us</li>
          <br />
          <li>Our Brands</li>
          <br />
          <li>Leadership</li>
          <br />
          <li>Travelopia Group Functions</li>
          <br />
          <li>Reports</li>
          <br />
        </div>
        <div id="list1">
          <li>Contact Us</li>
          <br />
          <li>Work with Us</li>
          <br />
          <li>Privacy Policy</li>
          <br />
          <li>Cookie Policy</li>
          <br />
        </div>
      </div>
    </div>
    <div id="div5">
      <p>
        Travelopia Holdings Limited is a registered company in England (Company
        No 5934241).<br />
        Registered Office: Origin One, 108 High Street, Crawley, West Sussex
        RH10 1BD
      </p>
      <footer>Copyright © Travelopia 2024</footer>
    </div>
    <script>
      window.addEventListener("scroll", function () {
        var cont = document.getElementById("navbar");
        const icon = document.getElementById("logo1");
        const anc = document.getElementsByClassName("lis");
        console.log(anc.length);
        var scrollPosition = window.scrollY;
        var triggerPosition = 644;
        if (scrollPosition >= triggerPosition) {
          cont.style.backgroundColor = "white";
          icon.style.color = "black";
          for (let i = 0; i < anc.length; i++) {
            console.log("hi");
            anc[i].style.color = "black";
          }
        } else {
          cont.style.backgroundColor = "transparent";
          icon.style.color = "white";
          for (let i = 0; i < anc.length; i++) {
            anc[i].style.color = "white";
          }
        }
      });
    </script>
  </body>
</html>
